<h3 class="uk-heading-divider uk-text-center custom-font-1" style="background-color: white; margin-bottom: 0 !important; padding-top: 10px !important;">Parallaxes</h3>
<div class="uk-grid-collapse uk-child-width-1-1"" uk-grid></div>
    <% @krissi.parallaxes.order(id: :asc).find_each do |p| %>
        <%= link_to '', class: 'uk-inline-clip uk-transition-toggle', 'uk-toggle' => "target: ##{p.id}" do %>
            <%= image_tag p.image.url, class: 'uk-width-1-1' %>
            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                <p class="uk-h4 uk-margin-remove uk-text-center">Edit Parallax</p>
            </div>
            <div id="<%= p.id %>" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <h2 class="uk-modal-title">Edit Parallax</h2>
                    <%= image_tag p.image.url, class: 'uk-width-1-1' %>
                    <div class="uk-width-1-1">
                        <%= form_for p, html: { class: 'uk-form-stacked uk-width-1-1' } do |f| %>
                            <div class="uk-margin">
                                <%= f.label :image, 'Leave this empty if you want to keep the current photo', class: 'uk-form-label', for: 'sample_image' %>
                                <%= f.file_field :image %>
                            </div>
                            <div class="uk-margin">
                                <%= f.submit 'Save', class: 'uk-button uk-button-primary uk-width-1-1' %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
