<%= render 'loader' %>

<%= render 'navbar' %>

<%= render 'samples', cached: true %>

<%= render 'contact', cached: true %>

<%= render 'bio', cached: true %>

<%= render 'links' %>

<%= render 'footer' %>

<a href="" uk-totop uk-scroll style="position: fixed; bottom: 30px; right: 30px;"></a>
