<%= render 'navbar' %>

<%= render 'samples' %>

<%= render 'contact' %>

<%= render 'bio' %>

<%= render 'links' %>

<%= render 'footer' %>

<a href="" uk-totop uk-scroll style="position: fixed; bottom: 30px; right: 30px;"></a>
