<% content_for :for_head do -%>
    <%= render 'head_links' %>
<% end -%>

<%= render 'navbar' %>

<%= render 'samples' %>

<%= render 'contact' %>

<%= render 'bio' %>

<%= render 'links' %>

<%= render 'footer' %>

<%= render 'body_scripts' %>

<a href="" uk-totop uk-scroll style="position: fixed; bottom: 30px; right: 30px;"></a>
