<!DOCTYPE html>
<html>
    <head>
    <title>Krissi Flynn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <% if content_for? :for_head %>
        <%= yield :for_head %>
    <% end %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
