<!DOCTYPE html>
<html>
    <head>
        <title><%= 'Admin | ' if signed_in? %>Krissi Flynn Photography</title>
        <meta name="google-site-verification" content="_4-HOfBqdkTykSY7hSF2TNBK0xN_Yl2pRtRQvyhpEfU" />
        <meta name="msvalidate.01" content="236C6CB6813AAE28FCDB951E0DC0D87C" />
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
        <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Quicksand" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    </head>

    <body>
        <% unless flash.empty? %>
            <script>
                <% flash.each do |name, message| %>
                    <%= "UIkit.notification('#{message}', {pos: 'bottom-right', status: '#{name == 'success' ? 'success' : 'danger'}'});".html_safe %>
                <% end %>
            </script>
        <% end %>
        <%= yield %>
    </body>
</html>
