<!DOCTYPE html>
<html>
    <head>
    <title><%= 'Admin | ' if signed_in? %>Krissi Flynn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Quicksand" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
    </head>

    <body>
        <% unless flash.empty? %>
            <script>
                <% flash.each do |name, message| %>
                    <%= "UIkit.notification('#{message}', {pos: 'bottom-right', status: '#{name == 'success' ? 'success' : 'danger'}'});".html_safe %>
                <% end %>
            </script>
        <% end %>
        <%= yield %>
    </body>
</html>
